<div class="borrower-container">
  <h2>Comments</h2>
  <input class="user-input" [(ngModel)]="user" placeholder="USER NAME">
  <textarea class="comment-input" [(ngModel)]="newComment" placeholder="Add a comment"></textarea>
  <button type="button" class="add-button" (click)="addComment()">Add Comment</button>
  <table class="comment-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments.slice().reverse()">
        <td>{{ comment.date }}</td>
        <td>{{ comment.user }}</td>
        <td>{{ comment.comment }}</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="submit-button" (click)="submitapplication()">SUBMIT APPLICATION</button>
</div>
